@model Candidate
<div class="display-6">
    Apply
</div>
<section class="w-50">
    <form action="">
        <div class="form-group my-2">
            <label for="">Email</label>
            <input type="email" class="form-control">
        </div>
        <div class="form-group my-2">
            <label for="">Firstname</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group my-2">
            <label for="">Lastname</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group my-2">
            <label for="">Age</label>
            <select name="Age" id="Age" class="form-control">
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
        </div>

        <div>
            <fieldset style="border:2px solid #ccc; padding: 10px;" >
                <legend>Select One Course</legend>
                <p>
                    <label for="mvc"><input type="radio" id="mvc" name="SelectedCourse" value="Asp.Net Core MVC"> Asp.Net Core MVC</label>
                </p>
                <p>
                    <label for="api"><input type="radio" id="api" name="SelectedCourse" value="Asp.Net Core MVC"> Asp.Net Core API</label>
                </p>
                <p>
                    <label for="blazor"><input type="radio" id="api" name="SelectedCourse" value="Blazor"> Blazor</label>
                </p>
            </fieldset>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Apply</button>
            <a class="btn btn-warning" href="/">Home</a>
        </div>
    </form>
</section>