@* @model List<StoreApp.Models.Product> *@
@model List<Product>
@* @{
Layout = "_Layout";
} *@

@section Footer {
    <div>
        Only for Index footer
    </div>
}


<div class="row my-3">
    @foreach (var prd in Model)
{
    @* <div>
<h3>@prd.ProductName</h3>
<p>@prd.Price</p>
<p>
<a href="/Product/Get/@prd.ProductId">Get Details</a>
</p>
</div> *@
        <partial name="_ProductCard" model="@prd" />
}
</div>
