<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container">
                <a href="/" class="navbar-brand">CourseApp</a>
                <ul class="navbar-nav me-auto">
                    <li class="navbar-item">
                        <a href="/" class="nav-link">Home </a>
                    </li>
                    <li class="navbar-item">
                        <a href="/course/list" class="nav-link">Courses </a>
                    </li>
                    <li class="navbar-item">
                        <a href="/contact" class="nav-link">Contact </a>
                    </li>
                </ul>
            </div>
        </nav>