@model MovieApp.Web.Models.Movie
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Başlık</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Film Listesi</h1>
    <div id="filmler">
        <div class="film">
            <p>Film Başlığı</p>
            <p>Film Açıklaması</p>
            <p>Film Yönetmeni</p>
            <p>
                <ul>
                    <li>Oyuncu 1</li>
                    <li>Oyuncu 2</li>
                </ul>
            </p>
        </div>
    </div>
</body>
</html>
