@model MovieApp.Web.Models.MovieGenreViewModel

<h1>Film Listesi</h1>
<hr />
<div id="filmler">
    @foreach (var m in Model.Movies)
    {
        @await Html.PartialAsync("_movie", m)
    }

</div>

@section menu{
    @await Html.PartialAsync("_menu", Model.Genres)
}