@model PostCreateViewModel
<form action="Edit" method="post">
    <div class="row w-70 m-auto">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h1>Post Edit</h1>
                </div>
                <div class="card-body">
                    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="PostId" value="@Model.PostId">
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Url" class="form-label"></label>
                        <input asp-for="Url" class="form-control">
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Content" class="form-label"></label>
                        <textarea asp-for="Content" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
                    {
                        <div class="form-check mb-3">
                            <input asp-for="IsActive" class="form-check-input">
                            <label asp-for="IsActive" class="label-check"></label>
                        </div>
                    }
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </div>


        </div>
        <div class="col-3">
            <div class="bg-white p-2">
                <div class="card p-2">
                    <div class="card-header">
                        <h5>Post Tags</h5>
                    </div>
                    <div class="card-body bg-white">
                        @foreach (var tag in ViewBag.Tags)
                        {
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" 
                                name="tagIds"
                                value="@tag.TagId"
                                id="tag_@tag.TagId"
                                @(Model.Tags.Any(t => t.TagId == tag.TagId) ? "checked" : "")>
                                <label for="tag_@tag.TagId" class="form-check-label">
                                    @tag.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.5.1/tinymce.min.js"
        integrity="sha512-8+JNyduy8cg+AUuQiuxKD2W7277rkqjlmEE/Po60jKpCXzc+EYwyVB8o3CnlTGf98+ElVPaOBWyme/8jJqseMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: "#Content"
        })
    </script>
}