@{
    ViewData["Title"] = "Kurs Ekle";
}
@model Kurs

<div class="card m-auto">
    <div class="card-header">
        <h5>Kurs Ekle</h5>
    </div>
    <div class="card-body bg-white">
        <form asp-asp-controller="Kurs" asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="KursBaslik" class="form-label">Kurs Adı</label>
                <input type="text" asp-for="KursBaslik" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
