@model Movie
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="~/img/@(Model.Image != null ? Model.Image:"no-image.jpg")" class="img-fluid" alt="@Model.Title">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <div>
                    <a href="/Movie/Details/@Model.Id" class="btn btn-sm btn-primary">Details</a>
                    
                   
                </div>
                
            </div>
        </div>
    </div>
</div>